table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid orange;
    padding: 8px;
}
.red{
    color: #CC0033;
}
.left{
    text-align: left;
}
thead{
    text-align: center; 
    color: white; 
    background-color: #CC0033;
    font-size: 12; 
    font-weight: bold;
}
tbody{
    text-align: center;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center; 
    color: #CC0033;
}