h1{
    text-align: left;
    color: #CC6600;
}
table{
    width: 400px;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    padding: 5px;
}
table tr:nth-child(even){
    background-color: #FFEDCA;
}
table tr:nth-child(odd){
    background-color: white;
}
img{
    float: left;
}
.text{
    font-size: large;
}
.stt{
    text-align: center;
}
.header td{
    background-color: #CC6600;
    color: white;
}
body{
    background-color: #FFEDCA;
}