table{
    border-collapse: collapse; 
}
td{
    border: 1px solid #FF0000;
}
.hang1{
    font-weight: bold; 
    font-size: large; 
    color: white; 
    background-color: #FF0000; 
    text-align: right;
}
.hang2{
    background-color: #FFBBBB; 
    font-size: xx-large; 
    font-weight: bold; 
    color: #FF0000; 
    text-align: center;
}
.body{
    width: 50%;
}
div{
    display: block;
}
.head{
    color: #FF0000; 
    font-weight: bold;
}
p{
    color: #FF0000; 
    font-weight: bold;
}